BR2_x86_64=y
BR2_SHARED_STATIC_LIBS=y
BR2_KERNEL_HEADERS_4_5=y
BR2_GCC_VERSION_6_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="${BR2_EXTERNAL}/board/aethos/x86_64/linux-4.5-min.config"
BR2_PACKAGE_BUSYBOX_CONFIG="${BR2_EXTERNAL}/board/aethos/x86_64/busybox-min.config"
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_PKGCONF=y
BR2_PACKAGE_JOE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_ROOTFS_ISO9660=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_GRUB=y
# BR2_TARGET_GRUB_FS_FAT is not set
